* {
    box-sizing: content-box;
    color: #FF6B6B;
    margin: 0;
    
}

#ode-header {
    background-color: #1A535C;
    display: grid;
    grid-template-areas: "header nav";
    align-items: center;
    padding-left: 15px;
}

h1 {
    font-size: 26px;
}
h1#ode-header {
    grid-area: header;

}

nav#ode-header {
    grid-area: nav;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin: 45px 25px 45px 25px;

}

#fun-facts {
    background-color: #FFE66D;
    display: grid;
    grid-template-areas: "title picture"
    "facts picture";
}

section#fun-facts h2 {
    grid-area: title;
}

#stock-rabbit{
    grid-area: picture;
    width: 100%;
}

#fun-facts-info {
    grid-area:facts;
}

#form {
    background-color: #FFE66D;
    display: grid;
    grid-template-areas: "form-header form"
    "paragraph form";
}

#form h3 {
    grid-area: form-header;
}

#form p {
    grid-area: paragraph;
}

#form form {
    grid-area: form;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

div#pop-hated-rabbits {
    background-color: #4ECDC4;
    display: grid;
    grid-template-areas: 
    "pic pop-rabbits"
    "pic hated-rabbit";
    column-gap: 100px;
}

img#monty {
    grid-area: pic;
    height: 100%;
    
}

section#pop-rabbits {
    grid-area: pop-rabbits;
    
}

section#hated-rabbits {
    grid-area: hated-rabbit;
    
}

article#rabbits-evil {
    background-color: #FFE66D;
    display: grid;
    grid-template-areas: 
    "H2 p1"
    "text p1"
    "text p1";
    column-gap: 50px;
}

h2#article-title {
    grid-area: H2;
}

div#text {
    grid-area: text;
}

img#p1 {
    grid-area: p1;
    width: 400px;
    
}

footer {
    display: flex;
    flex-direction: row;
    background-color: #1A535C;
    justify-content: space-between;
    align-items: center;
}

img#p2 {
    
    height: 30px;
}

img#p3 {
    
    height: 30px;
} 


